@import 'src/styles.scss';

.row {
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;

  .row-mobile {
    background-color: $cor-body;
  }
}

.vr {
  height: 2.5rem;
  color: $cor-secondary;
  opacity: 15%;
}

.hr {
  margin: auto;
  padding: auto;
  width: 100%;
  color: rgba($cor-secondary, 0.75);
}

.faq {
  font-size: 0.75rem;
  color: $cor-primary;
}

.background-light {
  background-color: $cor-light;
}

.fs-alterar {
  font-size: 0.875rem;
}

.offcanvas {
  --bs-offcanvas-height: auto;
  --bs-offcanvas-padding-y: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#parcelas {
  color: $cor-primary;
  font-weight: 700;
  font-size: 1.125rem;
}

.parcelamento {
  padding: 1rem;
  width: 100%;
  border: 1px solid $cor-secondary;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    font-weight: bold;

    .numbParcela,
    .valorParcela {
      padding-right: 0.25rem;
      font-size: 1.2rem;

      &.valorParcela {
        color: $cor-primary;
      }
    }
  }
}

img{
  width: 2rem;
  height: auto;
}


.scrollable {
  padding: 0 0.5rem;
  max-height: 350px;
  overflow-y: auto;
}
