@import 'src/styles.scss';

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgba($cor-secondary, 0.4);
  border-radius: 8px;
  background: transparent;

  &::placeholder {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $cor-secondary;
    opacity: 60%;
  }
}
