$cor-primary: #425CCB;
$cor-primary-dark: #213454;
$cor-primary-light: #005D9A;
$cor-body: #F5F5F5;
$cor-secondary: #4D4F5C;
$cor-warning: #FFD63E;
$cor-sucess: #27AE60;
$cor-light: #FFFFFF;
$cor-danger: #DC3545;

* {
  font-family: 'Roboto', sans-serif;

  p,
  h1 {
    margin: 0;
    color: $cor-secondary;
  }
}

.background {
  background-color: $cor-body;
}

.background-light {
  background-color: $cor-light;
}

.btn-info {
  background-color: $cor-primary;
  color: $cor-light;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 700;
}

.txt-contrast {
  font-size: 1.15rem;
  font-weight: 700;
}

.txt-small {
  font-size: 0.75rem;
}

.txt-blue {
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
  color: $cor-primary;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid rgba($cor-secondary, 0.4);
  border-radius: 8px;
  background: transparent;

  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  &::placeholder {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $cor-secondary;
    opacity: 60%;
  }
}

.input-icon {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid rgba($cor-secondary, 0.4);
  border-radius: 8px;
  border-right: 0;
  background: transparent;

  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;

  &::placeholder {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $cor-secondary;
    opacity: 60%;
  }
}

.icon-input {
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid rgba($cor-secondary, 0.4);
  border-radius: 8px;
  border-left: 0;
  background: transparent;
}

.span {
  font-size: 0.9rem;
  padding-left: 1rem;

  color: $cor-danger;
}

.content {
  padding: 1rem 5rem;
}

.infosDesk {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;

  .box {
    margin: 0;
    padding: 0;
    background-color: $cor-body;
    border-radius: 0.5rem;
    width: 65%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;

    .campos {
      background-color: $cor-light;
      border-radius: 0.5rem;
      margin: 0 2rem;
      padding: 1rem;
    }
  }
}

.faturasContent {
  background-color: $cor-body;
  border-radius: 0.5rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home {
  background-color: $cor-body;
  border-radius: 0.5rem;
  height: 100vh;
  display: flex;
}
