<!-- MOBILE -->
<div class="container-fluid vh-100 d-sm-block d-md-none">
  <app-nav></app-nav>
  <app-paginator numeracao="2-3" txtPaginator="Seleção de Faturas" class="mx-5"></app-paginator>

  <div class="row d-flex align-items-center background p-3">
    <div class="col-3">
      <p>CDC/Ligação</p>
      <p class="fw-bold text-center" *ngIf="invoiceById">{{invoiceById[0].invoiceId}}</p>
    </div>
    <div class="col-1">
      <div class="d-flex">
        <div class="vr"></div>
      </div>
    </div>
    <div class="col-8">
      <p *ngIf="accountContract">Nome</p>
      <p class="fw-bold" *ngIf="accountContract">{{ accountContract[0].name | name }}</p>
      <p *ngIf="invoiceById">Endereço</p>
      <p class="fw-bold" *ngIf="invoiceById">
        {{ invoiceById[0].street | address }}, {{ invoiceById[0].district }}, {{ invoiceById[0].zipcode | cep }}
      </p>
    </div>
  </div>

  <div class="row background mt-2">
    <div class="col d-flex my-4">
      <span class="txt-contrast">Faturas</span>
    </div>
  </div>

  <div class="row background pb-3">
    <div class="col pb-2 overflow-auto" *ngIf="invoiceById">
      <app-valor-fatura (click)="toggleInvoiceSelection(invoiceById[0])">
        <i icon class="bi" [ngClass]="invoiceById[0].selected ? 'bi-check-circle' : 'bi-circle'"></i>
        <span amount>{{invoiceById[0].amount}}</span>
        <span dueDate>{{invoiceById[0].dueDate | date: 'dd/MM/yyyy'}}</span>
      </app-valor-fatura>
    </div>
  </div>

  <div class="row background mb-4">
    <div class="col pb-2">
      <span class="btnSelect" (click)="toggleAllInvoiceSelection()">{{ btnSelectText }}</span>
    </div>
    <div class="col pb-4 d-flex flex-column align-items-end justify-content-start gap-1">
      <p class="m-0">Valor total das faturas</p>
      <p class="fw-bold m-0 fs-6">R$ {{ totalAmount.toFixed(2) }}</p>
    </div>
  </div>

  <app-button btnNext="btnNext" dynamicRouteNext="/pagamento"></app-button>
  <app-button btnBack="btnBack" dynamicRouteBack="/idClienteInstalacao"></app-button>
</div>

<!-- DESKTOP -->
<div class="container-fluid d-none d-md-block">
  <app-nav [isDesktop]="true"></app-nav>

  <div class="row">
    <div class="col-4">
      <app-step [step]="2"></app-step>
    </div>

    <div class="col-4 background rounded-3">
      <div class="d-flex flex-column justify-content-evenly content gap-4">
        <div class="d-flex justify-content-between">
          <span class="txt-contrast">Faturas</span>
          <span class="btnSelect" (click)="toggleAllInvoiceSelection()">{{ btnSelectText }}</span>
        </div>

        <div *ngIf="invoiceById">
          <app-valor-fatura (click)="toggleInvoiceSelection(invoiceById[0])">
            <i icon class="bi" [ngClass]="invoiceById[0].selected ? 'bi-check-circle' : 'bi-circle'"></i>
            <span amount>{{invoiceById[0].amount}}</span>
            <span dueDate>{{invoiceById[0].dueDate | date: 'dd/MM/yyyy'}}</span>
          </app-valor-fatura>
        </div>


        <div class="d-flex gap-3">
          <app-button class="flex-grow-1" btnBack="btnBack" dynamicRouteBack="/idClienteInstalacao"></app-button>
          <app-button class="flex-grow-1" btnNext="btnNext" dynamicRouteNext="/pagamento"></app-button>
        </div>
      </div>
    </div>

    <div class="col background rounded-3 ms-5">
      <div class="background-light rounded-3 m-2 mt-3 p-3">
        <div class="d-flex flex-column gap-2">
          <p class="txt-small text-uppercase">cpf</p>
          <p class="fs-6 txt-contrast">{{ accountContract[0].document | cpf }}</p>
          <p class="txt-small text-uppercase">código do cliente</p>
          <p class="fs-6 txt-contrast" *ngIf="invoiceById">{{invoiceById[0].invoiceId}}</p>
        </div>
      </div>
      <div class="background-light rounded-3 m-2 mb-3 p-3">
        <div class="d-flex flex-column align-items-end justify-content-end gap-1">
          <p class="m-0">Valor total das faturas</p>
          <p class="fw-bold m-0 fs-6">R$ {{ totalAmount.toFixed(2) }}</p>
        </div>

      </div>
    </div>
  </div>

  <app-footer class="fixed-bottom" [model]="'desktopFooter'"></app-footer>
</div>
