<div class="container-fluid vh-100">
  <app-nav></app-nav>
  <app-paginator [numeracao]="numeracao" [txtPaginator]="txtPaginator" class="mx-5"></app-paginator>

  <div class="row d-flex align-items-center background p-3">
    <div class="col-3">
      <p class="txt-secundario-pequeno">CDC/Ligação</p>
      <p class="txt-principal-pequeno">7013335308</p>
    </div>
    <div class="col-1">
      <div class="d-flex">
        <div class="vr linha-vertical"></div>
      </div>
    </div>
    <div class="col-8">
      <p class="txt-secundario-pequeno">Nome</p>
      <p class="txt-principal-pequeno">Rafael ••• da Silva</p>
      <p class="txt-secundario-pequeno">Endereço</p>
      <p class="txt-principal-pequeno">••• Viagem, Recife - PE, 51•••-300</p>
    </div>
  </div>

  <div class="row background mt-2">
    <div class="col d-flex my-4">
      <span class="txt-principal">Faturas</span>
    </div>
  </div>

  <div class="row background">
    <div class="col pb-2">
      <app-valor-fatura [routeFatura]="routeFatura"></app-valor-fatura>
      <app-valor-fatura [routeFatura]="routeFatura"></app-valor-fatura>
      <app-valor-fatura [routeFatura]="routeFatura"></app-valor-fatura>
      <app-valor-fatura [routeFatura]="routeFatura"></app-valor-fatura>
      <app-valor-fatura [routeFatura]="routeFatura"></app-valor-fatura>
    </div>
  </div>

  <div class="row background mb-4">
    <div class="col pb-2">
      <span class="btnSelect">Desmarcar todos</span>
    </div>
    <div class="col pb-4 d-flex flex-column align-items-end justify-content-start gap-1">
      <p class="txt-secundario-pequeno m-0">Valor total das faturas</p>
      <p class="txt-principal-pequeno m-0 fs-6">R$ 2.200,00</p>
    </div>
  </div>

  <app-button [btnNext]="btnNext" [dynamicRouteNext]="dynamicRouteNext"></app-button>
  <app-button [btnBack]="btnBack" [dynamicRouteBack]="dynamicRouteBack"></app-button>
</div>
