@import 'src/styles.scss';

.row{
margin: 0;
}

.logo {
  width: 5rem;
  height: auto;
}

.txt-security {
  font-size: 0.65rem;
  color: $cor-secondary;
  font-weight: 700;
}

.bi-shield-lock-fill {
  color: $cor-sucess;
}

.textDesk {
  width: 20%;
}
