<div class="container">
  <div class="row">
    <div class="col box d-flex flex-column justify-content-evenly mt-2">
      <app-paginator [numeracao]="'1-3'" [txtPaginator]="'Identificação do Cliente'"></app-paginator>
      <div class="d-flex">
        <span class="btn-info">CPF/CNPJ</span>
      </div>
      <form>
        <app-input [inputType]="'text'" [placeholderText]="'digite seu cpf'" #input></app-input>
        <!-- <app-input [inputType]="'text'" [placeholderText]="'digite o número do contrato'" formControlName="contract"></app-input> -->

        <!-- <app-button [btnNext]="'btnNext'" [dynamicRouteNext]="'/idClienteInstalacao'" (click)="getinputValue()"></app-button> -->
        <app-button [btnNext]="'btnNext'" (click)="getinputValue()"></app-button>
      </form>
    </div>
  </div>
</div>
