@import 'src/styles.scss';

* {
  margin: 0;
  padding: 0;
}

.box {
  height: 50vh;
}

.btn-info {
  margin: auto;
  width: 12rem;
}

.btn-info {
  font-weight: 400;

  .bi-arrow-down-short {
    font-size: 3rem;
  }
}

.suporte {
  font-size: 0.85rem;
}
