<div class="container background d-flex flex-column p-3 my-2 rounded-2" [routerLink]="[routeCDC]">
    <div class="row d-flex align-items-center">
      <div class="col-8">
        <p class="txt-principal">7013335308</p>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <p class="buttonNumber">123.•••.789-00</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="txt-secundario-pequeno"><b>Endereço:</b> ••• Viagem, Recife - PE, 51•••-300</p>
      </div>
    </div>
</div>
