<!-- MOBILE -->
<div class="container-fluid vh-100 d-sm-block d-md-none">
  <app-nav></app-nav>


  <app-button class="flex-grow-1" btnBack="btnBack" dynamicRouteBack="/idClienteInstalacao"></app-button>
  <app-button class="flex-grow-1" btnNext="btnNext"></app-button>
</div>

<!-- DESKTOP -->
<div class="container-fluid d-none d-md-block">
  <app-nav [isDesktop]="true"></app-nav>

  <div class="row">
    <div class="comprovante">
      <div class="transaction">
        <i></i>
        <span>Transação Aprovada!</span>
      </div>

      <span class="txt-head">O comprovante foi enviado para seu e-mail!</span>

      <div class="dadosEntrada">
        <div class="bandeira">
          <div>
            <i class="">icon</i>
            <span class="ps-3 txt-destaque">•••• 5678</span>
          </div>
          <span class="icon-pay">Pago</span>
        </div>
        <span class="">João A Silva</span>
        <span class="">Parcelas</span>
        <span class="txt-destaque">21x de R$ 91,66</span>
        <span class="">Total</span>
        <span class="txt-destaque">R$ 2.000,00</span>
      </div>

      <div class="d-flex gap-3 px-2">
        <app-button class="flex-grow-1" btnBack="btnBack" dynamicRouteBack="/idClienteInstalacao"></app-button>
        <app-button class="flex-grow-1" btnNext="btnNext"></app-button>
      </div>
    </div>
  </div>

  <app-footer class="fixed-bottom" [model]="'desktopFooter'"></app-footer>
</div>
