<!-- MOBILE -->
<div class="container-fluid vh-100 d-sm-block d-md-none">
  <app-nav></app-nav>


  <app-button btnBack="btnBack" dynamicRouteBack="/idClienteP1"></app-button>
</div>

<!-- DESKTOP -->
<div class="container-fluid d-none d-md-block">
  <app-nav [isDesktop]="true"></app-nav>

  <div class="row">
    <div class="comprovante">
      <i></i>
      <span>Transação Aprovada!</span>
      <span>O comprovante foi enviado para seu e-mail!</span>

      <div class="dadosEntrada">
        <div class="d-flex">
          <div>
            <i>asdasd</i>
            <span class="ps-3">•••• 5678</span>
          </div>
          <span>Pago</span>
        </div>
        <span>João A Silva</span>
        <span>Parcelas</span>
        <span>21x de R$ 91,66</span>
        <span>Total</span>
        <span>R$ 2.000,00</span>
      </div>


      <app-button btnBack="btnBack" dynamicRouteBack="/idClienteP1"></app-button>
    </div>
  </div>

  <app-footer class="fixed-bottom" [model]="'desktopFooter'"></app-footer>
</div>
