@import 'src/styles.scss';

.container {
  background-color: $cor-light;
}

.valor {
  font-size: 1.15rem;
}

.txt-small-contrast {
  font-size: 0.6rem;
  color: $cor-secondary;
  font-weight: 700;
}

.bi-check-circle {
  display: flex;
  font-size: 2rem;
  color: $cor-primary;
  &::before {
    font-weight: bold !important;
  }
}
