<div class="container" *ngIf="step === 1">
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual">1</span>
    <span class="step-text-actual">Identificação do Cliente</span>
  </div>
  <div class="linha">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step">2</span>
    <span class="step-text">Selecionar Faturas</span>
  </div>
  <div class="linha">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step">3</span>
    <span class="step-text">Pagamento</span>
  </div>
</div>

<div class="container" *ngIf="step === 2">
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual"><i class="bi bi-check"></i></span>
    <span class="step-text-actual">Identificação do Cliente</span>
  </div>
  <div class="linha-actual">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual">2</span>
    <span class="step-text-actual">Selecionar Faturas</span>
  </div>
  <div class="linha">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step">3</span>
    <span class="step-text">Pagamento</span>
  </div>
</div>

<div class="container" *ngIf="step === 3">
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual"><i class="bi bi-check"></i></span>
    <span class="step-text-actual">Identificação do Cliente</span>
  </div>
  <div class="linha-actual">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual"><i class="bi bi-check"></i></span>
    <span class="step-text-actual">Selecionar Faturas</span>
  </div>
  <div class="linha-actual">
    <div class="vr"></div>
  </div>
  <div class="d-flex align-items-center gap-3">
    <span class="step-actual">3</span>
    <span class="step-text-actual">Pagamento</span>
  </div>
</div>
