<div class="container-fluid vh-100">
  <app-nav [backgroundClass]="'background'"></app-nav>

  <div class="row background">
    <div class="col d-flex flex-column justify-content-evenly px-3 box">
      <h1 class="txt-contrast fs-3 text-center lh-base">Seja bem-vindo (a) ao portal de pagamentos da BRK em parceiria
        com a Flexpag!</h1>
      <p class="pe-5">Aqui você pode pagar suas contas <b>em até 21x no Cartão de Crédito,</b> Cartão
        Bolsa Família e PIX - de forma rápida,
        simples e segura!</p>
      <span (click)="scrollToComponent()" type="button" class="btn-info align-self-end">
        Iniciar
        <i class="bi bi-arrow-down-short"></i>
      </span>
    </div>
  </div>

  <app-id-cliente-p1 id="componentRef"></app-id-cliente-p1>

  <app-footer></app-footer>
</div>
