<app-nav></app-nav>

<div class="container-fluid d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col-10">
      <h1>Seja bem-vindo (a) ao portal de pagamentos da EMPRESA em parceiria com a Flexpag!</h1>
      <p>Aqui você pode pagar suas contas em até 21x no Cartão de Crédito, Cartão Bolsa Família e PIX - de forma rápida, simples e segura!</p>
      <button type="button" class="btn btn-primary btn-lg rounded-pill">Inicar <i class="bi bi-arrow-down-short"></i></button>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-10">
      <p>Aqui você pode pagar suas contas em até 21x no Cartão de Crédito, Cartão Bolsa Família e PIX - de forma rápida, simples e segura!</p>
    </div>
  </div>
  <div class="row d-flex justify-content-end">
    <div class="col-10">
      <button type="button" class="btn btn-primary btn-lg rounded-pill">Inicar <i class="bi bi-arrow-down-short"></i></button>
    </div>
  </div> -->
</div>

<!-- <app-footer></app-footer> -->
