<div class="container-fluid vh-100">
  <app-nav></app-nav>
  <app-paginator numeracao="1-3" txtPaginator="Identificação do Cliente" class="mx-5"></app-paginator>

  <div class="row background">
    <div class="col d-flex flex-column justify-content-evenly px-3 box">
      <p class="px-2 py-4">Abaixo a lista de imóveis vinculados ao documento informado. Por gentileza,
        selecione a instalação desejada para realizar o pagamento:</p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex my-4">
      <span class="txt-contrast">CDC/Ligação</span>
    </div>
  </div>

  <div class="row">
    <div class="col pb-5 ">
      <app-imovel routeCDC="/faturas">
        <span accountContractId>aosidoaisda</span>
        <span document>123.•••.789-00</span>
        <!-- <span address>{{ accountContractData.address }}</span> -->
        <span address>••• Viagem, Recife - PE, 51•••-300</span>
      </app-imovel>
    </div>
  </div>

  <app-button btnBack="btnBack" dynamicRouteBack="/home"></app-button>
</div>
