<div class="container-fluid vh-100">
  <app-nav></app-nav>
  <app-paginator numeracao="1-3" txtPaginator="Identificação do Cliente" class="mx-5"></app-paginator>

  <div class="row background">
    <div class="col d-flex flex-column justify-content-evenly px-3 box">
      <p class="px-2 py-4">Abaixo a lista de imóveis vinculados ao documento informado. Por gentileza,
        selecione a instalação desejada para realizar o pagamento:</p>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex my-4">
      <span class="txt-contrast">CDC/Ligação</span>
    </div>
  </div>

  <div class="row">
    <div class="col pb-5" *ngIf="accountContract; else nenhumImovel">
      <div *ngFor="let data of invoices, let i = index">
        <app-imovel routeCDC="/faturas">
          <span accountContractId>{{ invoices[i].accountContractId }}</span>
          <span document>{{ accountContract[0].document | cpf }}</span>
          <span address>{{ invoices[i].street | address }}, </span>
          <span address>{{ invoices[i].district }}, </span>
          <span address>{{ invoices[i].zipcode | cep }}</span>
        </app-imovel>
      </div>
    </div>

    <ng-template #nenhumImovel>
      <span class="span text-center pb-4">Ops! Ocorreu um erro...</span>
    </ng-template>
  </div>

  <app-button btnBack="btnBack" dynamicRouteBack="/home"></app-button>
</div>
